@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }
}

body {
  height: 100vh;
  background-color: #333;
}

header {
  background-color: #666;
  height: 50px;
  padding-top: 5px;
  .container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      color: cornsilk;
    }

    .nav {
      li {
        float: left;
        margin-right: 35px;
      }

      a {
        color: cornsilk;
      }
    }
  }
}

section {
  .container {
    max-width: 1000px;
    margin: auto;

    h1 {
      text-align: center;
      margin: 50px 0 40px;
      color: cornsilk;
    }

    .card-container {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      .card {
        width: 285px;
        height: 350px;
        background-color: rgb(88, 88, 88);
        cursor: pointer;
        padding: 15px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .song-cover {
          width: 250px;
        }
        .song-desc {
          align-self: flex-start;
          margin-top: 10px;
          h3 {
            color: cornsilk;
          }
          p {
            color: #ccc;
          }
        }
      }
    }
  }
}
